<div class="showDiv">
	<img src="<%= @send_queue.image.url(:larger) %>"/>
	<p ><%= @send_queue.coupon %></p>
	<div id="showDate">
		<p>活动日期:
			<span><%= @send_queue.start_date %></span> - <span><%= @send_queue.end_date %></span>
		</p>
	</div>
</div>
