<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;"/>
		<title>蓝牙推送服务端</title>
		<link type="text/css" rel="stylesheet" href="/assets/index.css">
		<script type="text/javascript">
			function toggleHistoryUl(){
				if($('#newHistory').css("display") == "block"){
					$('#newHistory').css("display", "none");
				}else{
					$('#newHistory').css("display", "block");
				}
			}
		</script>
	</head>
	<body>
		<div id="titleDiv" class="titleLogo">
			<img src="/assets/img/logo.png" title="orange_star" />
			<div id="tilteRight">
				<span>用户名：</span><span><%= params[:user] %></span>
			</div>
		</div>
		<div id="contentDiv" class="contentCss">
			<div id="leftNav" >
				<ul>
					<li><a href="/templates" target="myFrame">模板广告</a></li>
					<li><a href="custom" target="myFrame">自定义上传</a></li>
					<li>
						<a  onclick="toggleHistoryUl();">历史查询</a>
						<ul id='newHistory' style="display:none;">
							<li><a href="#" target="myFrame">已发布</a></li>
							<li><a href="#" target="myFrame">未发布</a></li>
							<li><a href="#" target="myFrame">已过期</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div id="rightFrame" >
				<iframe src="/templates/frame_welcome" name="myFrame"  width=900 height=700 frameborder=0 scrolling=no > </iframe>
			</div>
		</div>
	</body>
</html>
