<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;"/>
		<title>蓝牙推送服务端</title>
		<link type="text/css" rel="stylesheet" href="/assets/index.css">
	</head>
	<body>
		<div class="demoDiv">
			<ul class="demoUl">
				<% @patterns.each do |pattern| %>
				<li>
					<a href="#" target="myFrame">
					<!--
						<img class="thumb" src="/assets/img/demo.jpg" />
						-->
						<%= image_tag pattern.image.url(:thumb) %>
						<p></p>
						<p> <%= pattern.pattern_type.force_encoding("UTF-8") %> </p>
					</a>
				</li>
				<% end %>
			</ul>
		</div>
	</body>
</html>
