<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;"/>
		<title>蓝牙推送服务端</title>
		<link type="text/css" rel="stylesheet" href="/assets/index.css">
		<script type="text/javascript">
			function toggleHistoryUl(){
				if($('#history').css("display") == "block"){
					$('#history').css("display", "none");
				}else{
					$('#history').css("display", "block");
				}
			}
		</script>
	</head>
	<body>
		<div id="leftDiv">
			<ul>
				<li><a href="demo.html" target="myFrame">模板广告</a></li>
				<li><a href="custom.html" target="myFrame">自定义上传</a></li>
				<li>
					<a href="#" onclick="toggleHistoryUl();">历史查询</a>
					<ul id='history' style="display:none;">
						<li><a href="release_history.html" target="myFrame">已发布</a></li>
						<li><a href="unpublished_history.html" target="myFrame">未发布</a></li>
						<li><a href="overdue_history.html" target="myFrame">已过期</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</body>
</html>
