/* --------common----- */
body {
	margin: 0;
	padding: 0;
	color: #333333;
	background-color: #F7F7F7;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
}

a {
	text-decoration: none;
}
a:link {
	color:#333333;
}
a:visited {
	color:#333333;
}
a:hover {
	color:#333333;
}
a:active {
	color:#333333;
}

a img {
	border: 0;
}

p{
	margin: 0 0 1em;
}
/* --------index.html----- */
.titleLogo{
	height: 80px;
	background-color: #3196CA;
	padding-top: 6px;
	padding-left: 5px;
}
.logionDialog{
	border: 1px solid #aaa;
	width: 450px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border-radius: 5px;
}
.logionDialog label{
	width: 300px;
	margin-left: 30px;
}

.logionDialog input{
	width: 300px;
	height: 35px;
	margin-top: 50px;
	margin-left: 10px;
	border-radius: 10px;
}
.logionDialog input[type='submit']{
	height: 40px;
	width: 370px;
	margin-top: 50px;
	margin-left: 30px;
	font-size: 23;
	background-color: #3196CA;
	border-radius: 10px;
}

/* --------beacons_service.html----- */
.titleLogo #tilteRight{
	float: right;
	margin-top: 25px;
	padding-right: 50px;
}

.titleLogo #tilteRight span{
	color: red;
	font-size: 16px;
	font-weight: bold;
}


/* --------templates index.html----- */
.demoDiv{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.demoUl{
	width:800px;/*可以控制一排显示图片个数*/
	margin-left:auto;
	margin-right:auto;
}

.demoUl li{
	list-style-type:none;
	float:left;/*左浮动*/
	margin-right:100px;
	margin-top:30px;
}

.demoUl img{
	width: 150px;
	height: 250px;
	border:1px solid red;
	border-radius: 5px;
}

/* --------templates show.html----- */

.editDemoDiv{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.editDemoForm{
	width: 400px;
	height: 700px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}
.editDemoForm  img{
	position: relative;
	z-index: -1;
	
}
#coupon {
	width: 20px;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	font-size: 38px;
	position: relative;
	top: -200px;
	left: -175px;
	color: red;
	font-weight: bold;
	background-color:transparent;
	border: 0;
}

#activitiesDate {
	font-size: 12px;
	margin-top: -40px;
	margin-left: -15px;
}

#activitiesDate input[type="date"]{
	font-size: 12px;
	width: 110px;
	background-color:transparent;
	border: 0;
}
.summary{
	margin-top: 30px;
	margin-left: -5px;
}

#msg_summary { 
	width: 310px;
}

#releaseDate {
	margin-top: 10px;
}
.beaconsID {
	margin-top: 20px;
	margin-left: -220px;
}

.editDemoDiv input[type="submit"]{
	width: 100px;
	background-color: #3196CA;
	margin-top: 20px;
	border-radius: 5px;
}

/* --------send_queues new.html----- */
.customDiv{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.new_send_queue{
	width: 400px;
	height: 700px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}
.new_send_queue input[type="file"]{
	height: 30px;
}

.new_send_queue img{
	position: relative;
	width: 320px;
	height: 533px;
	z-index: -1;

}
.customMsg {
	margin-top: 20px;
	margin-left: -30px;
}

.customMsg input[type="text"]{
	font-size: 12px;
	width: 110px;
}
#customRelease {
	margin-top: 20px;
}
.new_send_queue input[type="submit"]{
	width: 100px;
	background-color: #3196CA;
	margin-top: 10px;
	border-radius: 5px;
}

/* --------send_queues index.html----- */
.ad_list_view {
	text-align: center;
	margin-left: auto;
	margin-right:auto;

}

.ad_list_view table {
	width: 800px;
	margin-left: auto;
	margin-right:auto;
	border-color: green;	
}


/* --------beacons_service.html----- */
#leftNav {
	float: left;
	width: 350px;
	margin-top: 30px;
}

#leftNav  ul {
	margin: 0;
	padding: 0;
}

#leftNav  li {
	text-align: center;
	list-style-type:none;
	border: 1px solid #aaa;
	background-color: #3196CA;
	height: 40px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 30px;
	margin-right: 20px;
	margin-left: 20px;
	padding-top: 10px;
}

#newHistory  li:first-child{
	margin-top: 25px;
}

#newHistory  li{
	height: 20px;
	margin-top: 10px;
	background-color: green;
	margin-right: 0;
	margin-left: 10px;
	font-size: 16px;
	font-weight: normal;
	padding-top: 3px;
}



#rightFrame {
	float: left;
	margin-left: 50px;
}

#rightFrame iframe {
	margin-left: 50x;
	margin-top: 50x;
}


/* --------send_queues show.html----- */

.showDiv{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.showDiv  img{
	/*
	position: absolute;
	*/
	position: relative;
	z-index: -1;
	
}

.showDiv p{
	color: red; 
	font-size:60px;
	margin-top: -335px;
}

#showDate p{
	font-size: 16px;
	margin-top: 280px;
}

/* --------send_queues edit.html----- */

.editQueueDiv{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}

.edit_send_queue{
	width: 400px;
	height: 700px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
}
.edit_send_queue  img{
	position: relative;
	z-index: -1;
	
}
#send_queue_coupon {
	width: 20px;
	height: 40px;
	border-radius: 3px;
	text-align: center;
	font-size: 38px;
	position: relative;
	top: -200px;
	left: -175px;
	color: red;
	font-weight: bold;
	background-color:transparent;
	border: 0;
}

#editQueue_activitiesDate {
	font-size: 12px;
	margin-top: -40px;
	margin-left: -15px;
}

#editQueue_activitiesDate input[type="date"]{
	font-size: 12px;
	width: 110px;
	background-color:transparent;
	border: 0;
}

#editQueue_releaseDate {
	margin-top: 20px;
}
.editQueue_beaconsID {
	margin-top: 20px;
	margin-left: -210px;
}

.editQueueDiv input[type="submit"]{
	width: 100px;
	background-color: #3196CA;
	margin-top: 20px;
	border-radius: 5px;
}

.editMsg {
	margin-top: 30px;
	margin-left: -10px;
}
.editMsg input[type="text"]{
	  font-size: 12px;
		  width: 115px;
}
